[run]
parallel = true
source =
    colander

[paths]
source =
    src/colander
    */src/colander
    */site-packages/colander

[report]
show_missing = true
precision = 2
exclude_also =
    def __repr__

    if 0:

    raise NotImplementedError
