[flake8]
ignore =
    # E731: do not assign a lambda expression, use a def
    E731
    # W503: line break before binary operator (flake8 is not PEP8 compliant)
    W503
    # W504: line break after binary operator (flake8 is not PEP8 compliant)
    W504
exclude =
    colander/compat.py
show-source = True
max-line-length = 79
