graft colander
graft docs
prune docs/_build
prune docs/.gitignore

include README.rst CHANGES.rst
include CONTRIBUTORS.txt LICENSE.txt COPYRIGHT.txt

include .flake8 setup.cfg pyproject.toml
include tox.ini .travis.yml rtd.txt
include contributing.md RELEASING.txt TODO.txt
graft .github

global-exclude __pycache__ *.py[cod]
global-exclude .DS_Store
